body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #2b2b2b;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
header{

}
header .nav-row{
	overflow: hidden;
	background-color: #2b2b2b;
}
.nav-row .imglogo{
	width: 157px;
	overflow: hidden;
	float: left;
	height: 77px;
}
.nav-row .menu{
	float: left;
	margin-top: 13px;
}
.nav-row  ul{
	list-style: none;
	-webkit-padding-start: 0px;
}
.nav-row ul li{
	display: inline-block;
}
.nav-row  ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	margin: 20px 0 20px 18px;
	padding-bottom: 24px;
}
.nav-row  ul li a:hover{
	color: #d9d9d9;
	border-bottom: 5px solid #e74c3c;
}

.nav-row .search{
	float: left;
	margin-top: 23px;
	margin-left: 70px;
	text-align: center;
}
.search input[type="text"]{
	float: left;
	width: 210px;
	padding: 0;
	border: none;
	height: 30px;

}
.search input[type="submit"]{
	width: 40px;
	padding: 0;
	background-image: url(../img/search.png);
	height: 30px;
	border: none;
}


.nav-row .reg{
	float: right;
	margin-right: 20px;
	margin-top: 13px;
}


.adv{
	float: left;
	width: 100%;
	background-image: url(../img/adv1.png)
}

.adv .text{
	padding: 163px 0 163px 157px;
}
.adv .text p{
	font-size: 30px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 20px #000;
}

.adv .button a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	width: 180px;
	height: 50px;
	background: #e74c3c;
	text-align: center;
	line-height: 3.1em;
	margin-top: 30px;
}
.adv .button a:hover{
	background-color: #e7786d;
}


.latest .latest-head{
	float: left;
	margin: 50px 0;
	padding-left: 15px;
	border-left: 5px solid #e74c3c;
}
.latest .latest-head h2{
	color: #e74c3c;
	margin: 0;
}
.latest .latest-head p{
	color: #fff;
	margin: 0;
}
.latest .boxes{
	float: left;
}
.latest .boxes .news-row{
	overflow: hidden;
	height: auto;
	margin-bottom: 50px;	
}
.latest .boxes .news-row .newbox{
	display: inline-block;
	float: left;
	margin-right: 67px;
	max-width: 225px;
}
.latest .boxes .news-row .newbox .imgbox{
	width: 250px;
	height: 188px;

}
.latest .boxes .news-row .newbox h2{
	color: #e74c3c;
	margin: 0;
	padding-left: 5px;
}
.latest .boxes .news-row .newbox p{
	color: #fff;
	margin: 0;
	font-size: 14px;
	padding-left: 5px;
}
.latest .button{
	clear: left;
	text-align: center;
}
.latest .button a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	width: 180px;
	height: 50px;
	background: #e74c3c;
	text-align: center;
	line-height: 3.1em;
	margin-top: 30px;
}
.latest .button a:hover{
	background-color: #e7786d;
}

.news {
	margin-top: 15px;
}
.news .news-head{
	border-left: 5px solid #e74c3c;
	margin-bottom: 50px;
}
.news .news-head h2{
	color: #e74c3c;
	margin: 0;
	padding-left: 15px;
}
.news .news-head p{
	color: #fff;
	margin: 0;
	padding-left: 15px;
}
.news .news-blocks{
	display: inline-block;
	margin-bottom: 50px;
}
.news .news-blocks .imgbox{
	width: 250px;
	height: 188px;
	float: left;
	margin-right: 30px;
}

.news .news-blocks .textbox h2{
	color: #e74c3c;
	font-size: 18px;
}
.news .news-blocks .textbox p{
	color: #fff;
	font-size: 14px;
}
.news .news-blocks .textbox a{
	text-decoration: none;
	color: #e7c13c;
}
.news .news-blocks .textbox a:hover{
	color: #e74c3c;
}
.news .button{
	text-align: center;
}
.news .button a{
	text-decoration: none;
	color: #fff;
	display: inline-block;
	width: 180px;
	height: 50px;
	background: #e74c3c;
	text-align: center;
	line-height: 3.1em;
	margin-top: 30px;
}
.news .button a:hover{
	background-color: #e7786d;
}
.shop{
	overflow: hidden;
	margin-bottom: 50px;
}
.shop .shop-head{
	border-left: 5px solid #e74c3c;
	margin: 50px 0 50px 110px;
}
.shop .shop-head h2{
	color: #e74c3c;
	margin: 0;
	padding-left: 15px;
}
.shop .shop-head p{
	color: #fff;
	margin: 0;
	padding-left: 15px;
}
.shop .shop-row .item{
	display: inline-block;
	float: left;
	max-width: 225px;
	margin-left: 110px;
}
.shop .shop-row .item .imgbox{
	width: 250px;
	height: 188px;
}
.shop .shop-row .item h2{
	color: #e74c3c;
}
.shop .shop-row .item p{
	color: #fff;
}
footer{
	width: 100%;
	background-color: #e74c3c;
	float: left;
}
footer .contact{
	float: left;
}
footer .contact ul{
	list-style: none;
	-webkit-padding-start: 0px;
	text-align: center;
}
footer .contact ul li{
	display: inline-block;
}
footer .contact ul li a{
	color: #fff;
	text-decoration: none;
	padding-right: 30px;
}