.content{
	.adress-panel
	{
		float: left;
		display: inline-block;
		margin: 30px 0;
		p{
			float: left;
			color: #fff;
			margin-right: 25px;
			a{
				text-decoration: none;
				color: inherit;
			}
			a:hover{
				color: #e74c3c;
			}
		}
	}
	.news-head{
		clear: left;
		border-left: 5px solid #e74c3c;
		margin-bottom: 50px;
		h2{
			color: #e74c3c;
			margin: 0;
			padding-left: 15px;
		}
		p{
			color: #fff;
			margin: 0;
			padding-left: 15px;
		}
	}

	.news{
		clear: left;
		.row{
			float: left;
			.block{
				margin-right: 25px;
				margin-bottom: 25px;
				float: left;
				padding: 20px;
				width: calc(50% - 70px);
				background-color: #333;
				.imgbox{
					width: 250px;
					height: 188px;
					background-color: #999;
					border-radius: 10px;
					border: 1px solid #999;
					background-image: url(../img/wow.jpg);
					background-position: center;
				}
				h2{
					color: #e74c3c;
					a{
						text-decoration: none;
						color: inherit;
					}
					a:hover{
						color: #e7786d;
					}
				}
				p{
					color: #fff;

					a.more{
						color: #e74c3c;
						text-decoration: none;
						float: right;
					}
					a:hover{
						color: #e7786d;
					}
				}
			}
		}
	}
}